$font-stack: 'ProximaNova', sans-serif;

$accent: #da1781;
$menu: #c7c7c7;
$light: #c6c6c6;
$dark: #4a4a4a;
$blue: #0baff0;
$green: #7ab55c;
$orange: #f5a623;
$purple: #bd10e0;
$white: #ffffff;
$black: #354052;
$footer-font: #9b9b9b;
$footer-color: #f8f8f8;
